/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --green-color: #1d6154;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
.btn-logout {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

a:hover,
li:hover,
.btn-logout:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact,
#login {
  width: 50%;
  margin: auto;
}
#contact > *,
#login {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form,
.AddImgForm {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login input,
.AddImgForm input,
.AddImgForm select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.works-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
  margin-bottom: 50px;
  gap: 10px;
}

.works-filter button {
  border: 1px solid var(--green-color);
  border-radius: 50px;
  padding: 9px 30px;
  font-size: 16px;
  color: var(--green-color);
  background-color: white;
}
.works-filter #category-actived {
  background-color: var(--green-color);
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
.icon-title-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
  font-size: 16px;
}
.btn-logout {
  background-color: white;
}
/** Modal**/

.img-container figure {
  width: 77px;
  height: 103;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 29px;
}
.img-container button {
  background-color: black;
  border-radius: 2px;
  border: none;
  position: absolute;
  top: 6px;
  right: 5px;
}
.img-container button i {
  padding: 4px 0;
  color: white;
}
.img-container figure {
  position: relative;
}
.vertical-line {
  border: 1px solid #b3b3b3;
  margin-top: 67px;
  margin-bottom: 38px;
}

.validate-container button {
  background-color: #1d6154;
  border: none;
  color: white;
  padding: 10px 49px;
  border-radius: 60px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.modal-container h2 {
  padding-bottom: 46px;
  color: black;
  line-height: 30px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-container {
  width: 630px;
  height: 688px;
  background-color: white;
  margin: 10% auto;
  border-radius: 10px;
  overflow: auto;
  text-align: center;
}
#close {
  border: none;
  background-color: white;
  text-align: end;
  font-size: 30px;
}
.modal-content {
  padding-top: 10px;
  padding-left: 105px;
  padding-right: 105px;
  padding-bottom: 67px;
}
.btn-container-close {
  text-align: end;
  padding-top: 26px;
  padding-left: 30px;
  padding-right: 30px;
}
#openModal {
  border: none;
  background-color: white;
  font-size: 14px;
}
#openModal i {
  padding-right: 10px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.errorMessage {
  color: red;
  font-size: 16px;
}

.photo-gallery {
  text-align: center;
  max-height: 435px;
  overflow-y: auto;
}
